.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* .hackathonTitle {
    color: yellow;
} */

a {
    text-decoration: none;
    color: white;
}
a:hover, a:active {
    color: lightgray;
}