<div *ngIf="isAuth" class="authBlocker" (click)="blockAuthMsg()"></div>
<!-- <div *ngIf="butToggleVal==='upcoming' || butToggleVal==='todays'" > -->
<hr style="height:80px;border:none">
<div style="text-align: center">
  <mat-button-toggle-group #group="matButtonToggleGroup" [value]="butToggleVal" (change)="onValChange(group.value)">
    <mat-button-toggle value="todays" style="font-weight: bolder" [ngStyle]="{'background-color': butBgCol1, 'color': butFtCol1}">Today's</mat-button-toggle>
    <mat-button-toggle value="upcoming" style="font-weight: bolder" [ngStyle]="{'background-color': butBgCol2, 'color': butFtCol2}">Upcoming</mat-button-toggle>
    <mat-button-toggle value="archived" style="font-weight: bolder" [ngStyle]="{'background-color': butBgCol3, 'color': butFtCol3}">Archived</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<hr style="height:20px;border:none">
<mat-card *ngIf="butToggleVal==='upcoming'" style=" background-color:#DEFAF8;">
  <h1 style="text-align: center">Upcoming Hackathon List</h1>
  <mat-accordion multi="true" *ngIf="posts.length > 0">
    <mat-expansion-panel *ngFor="let post of posts">
      <mat-expansion-panel-header>
        {{ post.title }}
      </mat-expansion-panel-header>
        <p>Hackathon Date : {{ post.startDate | date}}</p>
        <p>{{ post.content }}</p>
      <div class="post-image">
        <img [src]="post.imagePath" [alt]="post.title">
      </div>
      <mat-action-row>
        <button mat-button color="primary" (click)="onEdit(post)">EDIT</button>
        <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
      </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
</mat-card>
<mat-card *ngIf="butToggleVal==='todays'" style=" background-color: black; color:white;">
  <h1 style="text-align: center">Ongoing Hackathon List</h1>
  <mat-accordion multi="true" *ngIf="posts.length > 0">
    <mat-expansion-panel *ngFor="let post of posts">
      <mat-expansion-panel-header>
        {{ post.title }}
      </mat-expansion-panel-header>
        <p>Hackathon Date : {{ post.startDate | date}}</p>
        <p>{{ post.content }}</p>
      <mat-action-row>
        <button mat-button color="primary"(click)="onEdit(post)">EDIT</button>
        <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
      </mat-action-row>
      <div class="post-image">
        <img [src]="post.imagePath" [alt]="post.title">
      </div>
      </mat-expansion-panel>
    </mat-accordion>
</mat-card>
<!-- <div *ngIf="butToggleVal==='upcoming' || butToggleVal==='todays'">
  <mat-paginator #paginatorPre 
    [pageSize]="10"
    [pageSizeOptions]="[2, 5, 10, 20]">
  </mat-paginator>
</div>  -->

<!-- <mat-card  *ngIf="butToggleVal==='archived'"style=" background-color:lightgrey; color:black;"> -->
<div [hidden]="butToggleVal!=='archived'" style="text-align: center">
  <!-- <br><br><br><br>
  <div>
    <mat-button-toggle-group #group="matButtonToggleGroup" [value]="butToggleVal" (change)="onValChange(group.value)">
      <mat-button-toggle value="todays" style="font-weight: bolder">Today's</mat-button-toggle>
      <mat-button-toggle value="upcoming" style="font-weight: bolder">Upcoming</mat-button-toggle>
      <mat-button-toggle value="archived" style="font-weight: bolder">Archived</mat-button-toggle>
    </mat-button-toggle-group>
  </div><br><br><br><br><br> -->
  <div style="background-color: lightgray" fxLayout="column" fxLayoutAlign="center center">
    <h1 style="text-align: center;vertical-align: middle">Archived Hackathon List</h1>
    <div >
      <mat-form-field feFlex="50%">
        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="filter the list">
      </mat-form-field>
    </div>
    <mat-table [dataSource]="dataSource" matSort style="width:95%">
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Hackathon Title</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.title }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="content">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Hackathon Content</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.content }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Hackathon Date</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.startDate | date}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <div style="height:15px;background-color: lightgray"></div>
  </div>
  <div>
    <mat-paginator #paginator 
      [pageSize]="10"
      [pageSizeOptions]="[2, 5, 10, 20]">
    </mat-paginator>
  </div>  
</div>

<!-- </mat-card> -->
<!-- <p>
  welcome works!
</p>
<button>aaa</button> -->


